@import url("http://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
}

main {
  height: 100vh;
  width: 100%;
}

/* font */

.lato {
  font-family: "Lato", sans-serif;
}

.coco {
  font-family: "Cocogoose", sans-serif;
}

.orange {
  color: #f25938;
}

.grey {
  color: #c4bfbf;
}

.greyer {
  font-weight: bolder;
  color: #5f5d5d;
}

.white {
  color: #fff;
}

.red {
  color: red;
}

.wraper {
  position: relative;
  background-repeat: no-repeat;
}

.wraper::after {
  content: "";
  display: block;
  background-image: url("img/bkg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

header {
  padding-bottom: 80px;
}

.menu {
  font-size: 50px;
  font-weight: bolder;
  cursor: pointer;
  margin: 21px 0 65px 32px;
  color: #5f5d5d;
}

nav {
  height: 0%;
  position: fixed;
  width: auto;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;

  /* background-color: rgba(73, 177, 224, 0.9); */

  background-image: url(img/navbg.jpg);
  overflow-y: hidden;
  z-index: 1500;
  transition: 0.5s;
}

nav li {
  position: relative;
  left: -9px;
  top: 120px;
}

nav li a {
  color: #f1eeeb;
}

.nav-logo {
  position: relative;
  top: 25%;
  left: 25%;
}

.line3 {
  position: relative;
  display: block;
  align-items: center;
  width: 20%;
  border: 2px solid #e6e2e1;
  margin: auto;
  top: 34%;
}

.close {
  display: block;
  position: relative;
  top: -5px;
  left: 14px;
  font-size: 50px;
  color: #131212;
  cursor: pointer;
}

.text h1 {
  font-size: 3.8vh;
  font-weight: bolder;
  color: #ec5242;
  margin-bottom: 55px;
}

.text h2 {
  font-size: 2.8vh;
  font-weight: bolder;
  color: #5f5d5d;
}

.text h3 {
  font-weight: bolder;
  font-size: 2.8vh;
  color: #fc6209;
  margin-bottom: 18px;
  margin-top: 50px;
}

.text h4 {
  margin-bottom: 90px;
  color: #5f5d5d;
}

/* end of first section */

.line {
  display: block;
  align-items: center;
  width: 10%;
  border: 1px solid #ec5242;
  margin: auto;
}

/* end of logo section */

.img1 {
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
  opacity: 0.6;
}

.img2 {
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
  opacity: 0.6;
}

.text-in {
  position: relative;
  text-align: center;
  color: white;
}

.text-in h2 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4vh;
}

.text-in h6 {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2vh;
}

/* partners */

.sponsors-container {
  background: #494848;
}

.partner1 {
  font-size: 24px;
  color: #c9c2c2;
}

.partner2 {
  font-size: 26px;
  background: -webkit-linear-gradient(#eee, rgb(116, 113, 113));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.partner3 {
  font-size: 20px;
  color: #a19f9f;
}

.partner4 {
  font-size: 20px;
  color: #a19f9f;
}

.partner5 {
  font-size: 20px;
  color: #a19f9f;
}

/* footer */

.footer p {
  font-size: 1.7vh;
}

@media (min-width: 768px) {
  .menu {
    display: none;
  }

  .black-nav {
    padding-right: 50px;
  }

  .logo-home {
    position: relative;
    left: 210px;
    width: 18%;
    height: auto;
    bottom: 5px;
  }

  .white-nav li {
    margin-top: 10px;
    height: auto;
  }

  /* end first */

  .logo-container {
    margin-bottom: 50px;
  }

  .logo-p {
    display: none;
  }

  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: auto;
  }

  .text-in h2 {
    top: 40%;
  }

  .text-in h6 {
    top: 55%;
    font-size: 20px;
  }

  /* partners */
  #partners {
    display: none;
  }

  /* footer */

  .mail {
    position: relative;
    left: 130px;
  }

  .mail-icon {
    color: rgb(219, 213, 213);
    position: relative;
    left: 35px;
  }

  .footer {
    background: black;
    padding: 10px 0;
  }

  .footer-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
  }

  .footer p {
    color: rgb(196, 189, 189);
  }

  .footer h6 {
    font-size: 24px;
    color: rgb(207, 203, 203);
  }

  .footerp-hide {
    margin-top: -30px;
  }

  .logo-home:hover {
    height: 97%;
  }
}

@media (max-width: 768px) {
  .black-nav {
    display: none;
  }

  .navbar-light {
    display: none;
  }

  .for-hide {
    
    display: none;
  }

  .card-wraper {
    margin-top: -55px;
  }

  .footerp-hide {
    display: none;
  }
}

@media (max-width: 1199.98px) {
  .text-in h2 {
    top: 40%;
    font-size: 2vh;
  }

  .text-in h6 {
    top: 60%;
  }

  .mail {
    left: 50px;
  }
  
  .mail-icon {
    left: 40px;
  }
}

@media (max-width: 991.8px) {
  .text-in h2 {
    top: 40%;
    font-size: 2vh;
  }

  .text-in h6 {
    top: 57%;
  }

  .mail {
    left: 50px;
  }
  
  .mail-icon {
    left: 30px;
  }
}